// input value error message styling
// when nothing is entered in the input field but the user clicks the Add Option button
// when the user enters the same data that is already on the list
.add-option-error {
    color: lighten($off-white, 10%);
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

// styling for input field and Add Option button
.add-option {
    display: flex;

    // flexbox property - stack things veritcally
    flex-direction: column;

    padding: $m-size;
}

// styling for the input field
.add-option__input {
    background: $dark-blue;
    border: none;
    color: lighten($off-white, 15%);
    border-bottom: .3rem solid darken($dark-blue, 10%);

    // grow to take all available white-space
    flex-grow: 1;

    margin: 0 0 $m-size 0;
    padding: $s-size;
}

// media query
// when the width of the screen is larger than 45rem (medium and big screens)
// apply these styles that override the properties of the classes below
@media(min-width: $desktop-breakpoint) {
    // select the class
    .add-option {
       flex-direction: row;
    }

    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}