// SASS vars with $... are defined in _settings.cs file

.header {
    background: $off-black;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

// BEM naming convention = block element modifier
// block = element with header class
// element = h1 inside the element with class header
// select every h1 inside the element with class header
.header__h1 {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

// media query
// when the width of the screen is larger than 45rem (medium and big screens)
// apply these styles that override the properties of the classes below
@media(min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}