.option {
    display: flex;
    justify-content: space-between;
    padding: $l-size $m-size;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

.option__text {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;

    // enforce word wrap of an item text
    word-wrap: break-word;
    overflow-wrap: break-word; 
    width: 80%;;
}